/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.light-style .menu .app-brand.demo {
  height: 64px;

}

.dark-style .menu .app-brand.demo {
  height: 64px;
}
.layout-menu-fixed:not(.layout-menu-collapsed) .app-brand-logo {
  display: none !important;
}
.layout-menu-fixed.layout-menu-hover .app-brand-logo {
  display: none !important;
}
.app-brand-logo.demo {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
}
.menu-item svg {
  margin-left: 10px;
}
.menu-link {
  color: #49474e !important;
}
.layout-menu-collapsed:not(.layout-menu-hover) .menu-item svg {
  margin-left: 0px;
  width: 200px;
}
.layout-menu-collapsed:not(.layout-menu-hover)  .menu-item .badge {
  display: none;
}
.layout-menu-collapsed:not(.layout-menu-hover)  .menu-link {
  padding: 5px !important;
}
.menu-vertical .menu-item .menu-link, .menu-vertical .menu-block {
  padding-bottom: 0.7rem !important;
  padding-top: 0.7rem !important;
}
.app-brand-logo.demo svg {
  width: 35px;
  height: 24px;
}

.app-brand-text.demo {
  font-size: 1.375rem;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 78px !important;
}
/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/* Dropdown buttons going out of small screens */
@media (max-width: 576px) {
  #dropdown-variation-demo .btn-group .text-truncate {
    width: 254px;
    position: relative;
  }
  #dropdown-variation-demo .btn-group .text-truncate::after {
    position: absolute;
    top: 45%;
    right: 0.65rem;
  }
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}

table.factor_table > tbody > tr.child ul.dtr-details {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
table.factor_table > tbody > tr.child ul.dtr-details > li {
  display: flex;
  justify-content: space-between;
}
table.factor_table tr td,table.factor_table  tr th {
  border-color: #000 !important;
  border-width: 2px !important;
}
table.factor_table tfoot tr {
  border-right: 2px solid #000 !important;
  border-left: 2px solid #000 !important;
  border-bottom: 2px solid #000 !important;
}
table.factor_table .td-left-border td,table.factor_table  .td-left-border th,table.factor_table  tfoot td, tfoot th {
  border-left: 2px solid #000 !important;
}
table.factor_table tr.no_border td,table.factor_table  tr.no_border th {
  border-top: 0px solid transparent !important;
  border: 0 none !important;
}
table.factor_table .x_border {
  border-right: 2px solid #000 !important;
  border-left: 2px solid #000 !important;
}
table.factor_table tfoot label {
  display: inline-block;
  margin-right: 50px;
  position: relative;
}
table.factor_table tfoot label:before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  outline: 1px solid black;
  position: relative;
  top: 5px;
  left: 5px;
}
table.factor_table tfoot label.active:before {
  background-color: #000;
  border: 2px solid #fff;
  fill: #000;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.pricepr {
  color: #524595;
  font-size: 18px;
}
.counterbox {
  background-color: #F3F0F0;
  border-radius: 8px;
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
}
.counterbox span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9C9C9C;
  font-size: 25px;
  cursor: pointer;
  padding-top: 3px;
}
.counterbox input {
  background-color: transparent;
  border: 0 none;
  outline: 0 none;
  text-align: center;
  font-size: 18px;
}
.table thead tr {
  background-color: #D0E4D3;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}
.table thead tr th {
  background-color: #D0E4D3;
}
.table thead tr th:last-child {
  border-top-left-radius: 8px !important;
}
.table thead tr th:first-child {
  border-top-right-radius: 8px !important;
}
.table thead tr th{
  font-size: 14px;
  letter-spacing: 0;
  font-weight: bold;
  color: #248230 !important;
}
.card-datatable, .table, .table tfoot, .table tfoot tr:last-child {
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}
.table tfoot tr:last-child th:first-child  {
  border-bottom-right-radius: 8px !important;
}
.table tfoot tr:last-child th:last-child  {
  border-bottom-left-radius: 8px !important;
}
.table.yellow thead tr, .table.yellow tfoot  {
  background-color: #FEEBB7 !important;
}
.table.yellow thead tr th, .table.yellow tfoot tr th{
  color: #A57900 !important;
  background-color: #FEEBB7 !important;
}
.yellowbox .dataTables_wrapper .row:last-child {
  background-color: #FEEBB7 !important;
}
.yellowbox .page-item.active .page-link, .yellowbox .pagination li.active > a:not(.page-link) {
  border-color: #A57900;
  background-color: #A57900;
  color: #fff;
}
.table.red thead tr {
  background-color: #F6D1D3 !important;
}
.table.red thead tr th {
  color: #C1292E !important;
  background-color: #F6D1D3 !important;
}
.redbox .dataTables_wrapper .row:last-child {
  background-color: #F6D1D3 !important;
}
.yellowbox .page-item.active .page-link, .yellowbox .pagination li.active > a:not(.page-link) {
  border-color: #C1292E;
  background-color: #C1292E;
  color: #fff;
}
.dataTable.purple thead tr {
  background-color: #E6E3F8 !important;
}
.dataTable.purple thead tr th {
  color: #543C92 !important;
  background-color: #E6E3F8 !important;
}
.purplebox .dataTables_wrapper .row:last-child {
  background-color: #E6E3F8 !important;
}
.purplebox .page-item.active .page-link, .purplebox .pagination li.active > a:not(.page-link) {
  border-color: #543C92;
  background-color: #543C92;
  color: #fff;
}
[dir=rtl] div.dataTables_wrapper .dataTables_filter {
  display: flex;
  justify-content: flex-start !important;
  direction: rtl !important;
}
.dataTables_filter {
  width: 50%;
  float: right;
  text-align: right;
}
.dataTables_wrapper .row:first-child {
  direction: ltr;
}
.dataTables_wrapper .row:first-child > div {
  padding: 0 !important;
}
.dataTables_wrapper .row:last-child {
  background-color: #D0E4D3;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
.table {
  margin: 0 !important;
}
.dataTables_filter {
  background-color: #D0E4D3;
  margin: 0 !important;
  padding: 15px 5px;
  border-top-left-radius: 25px;
  border-top-right-radius: 8px;
}
.yellowbox .dataTables_filter {
  background-color: #FEEBB7 !important;
}
.redbox .dataTables_filter {
  background-color: #F6D1D3 !important;
}
.dataTables_filter .form-control {
  padding: 8px 5px !important;
  width: 250px !important;
}
.swal2-container {
  z-index: 999999 !important;
}
.dt-row {
  width: 100%;
  overflow-x: auto!important;
  -webkit-overflow-scrolling: touch
}
.tablelist table {
  table-layout: fixed;
  width: 100%;
  min-width: 900px;
  border-collapse: collapse;
}
th.bigcol, td.bigcol {
  min-width: 120px !important;
  width: 120px !important;
}

table thead th:first-child {
  position: sticky;
  right: 0;
  z-index: 2;
  max-width: 50px;

}

table thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

table tbody th {
  position: sticky;
  right: 0;
  z-index: 1;
  background-color: #fff !important;
}
.table tr th {
  font-size: 13px !important;
}
@media(max-width: 900px) {
  .dataTables_filter .form-control {
    padding: 8px 5px !important;
    width: 190px !important;
  }
}
[dir=rtl] table.table thead th, [dir=rtl] table.table tbody td, [dir=rtl] table.table tfoot th {
  border-left: 1px solid #ededed !important;
}
.light-style table.table th, .light-style table.table td {
  border-color: var(--bs-border-color) !important;
  border-left: 1px solid #ededed !important;
}
.table tr th, .table tr td {
  padding: 7px !important;
}

/* */

.my-progress-bar {
  --primary: black;
  --success: #524595;
  --neutral: LightSteelBlue;
  --alert: Crimson;
  --symbol-size: 50px;
  --symbol-border-width: 3px;
  --track-height: 3px;
  --border-radius-rounded: 28px;
  --step-text: clamp(0.625rem, 2vw, 1rem);
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: fit-content;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.my-progress-bar--step {
  display: flex;
  position: relative;
  width: 100%;
}

.my-progress-bar--step-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
}

.my-progress-bar--step-text,
.my-progress-bar--step-subtext {
  container-name: progress-step;
  font-size: clamp(0.625rem, 2vw, 1rem);
}

.my-progress-bar--step-track {
  height: var(--track-height);
  width: 100%;
  display: flex;
  background: var(--neutral);
  margin-top: calc(var(--symbol-size) / 2);
  border-radius: var(--border-radius-rounded);
}

@container progress-step (min-width: 700px) {
  .my-progress-bar--step-text {
    font-size: 2cqw;
  }
}

.my-progress-bar--step:last-child {
  width: fit-content;
}

.my-progress-bar--step:last-child .my-progress-bar--step-track {
  display: none;
}

/*
.my-progress-bar--step:before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--neutral);
    z-index: -1;
    top: calc( var(--symbol-size) / 2 + var(--symbol-border-width) );
    right: 0;
    left: 0;
    margin-inline: auto;
}
*/

.my-progress-bar--step-text {
  position: relative;
  margin-bottom: 10px;
  margin-inline: auto;
  display: block;
  top: 10px;
}

.my-progress-bar--step--symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--symbol-size);
  width: var(--symbol-size);
  background: var(--neutral);
  border: var(--symbol-border-width) solid var(--neutral);
  border-radius: 50%;
}

[data-my-progress-bar-step="incomplete"] {
  .my-progress-bar--step-text,
  .my-progress-bar--step-subtext {
    color: var(--neutral);
  }
}

[data-my-progress-bar-step="complete"] {
  &.my-progress-bar--step:before {
    background: var(--success);
  }

  .my-progress-bar--step--symbol {
    background: var(--success);
    border-color: var(--success);
    color: white;

    &:before {
      content: "\2713";
    }
  }

  .my-progress-bar--step-track {
    background: var(--success);
  }
}

[data-my-progress-bar-step="active"] {
  .my-progress-bar--step--symbol {
    background: white;
    border-color: var(--primary);
    color: var(--primary);

    &:before {
      content: "⬤";
    }
  }

  .my-progress-bar--step-track {
    background: var(--primary);
  }
}

.factor_dates {
    background-color: rgba(246, 246, 246, 1);
    border-radius: 10px;
    padding: 15px;
}
.col-12.buyer_info {
    border: 2px solid rgba(217, 217, 217, 1);
    border-radius: 10px;
    background-color: #f9fafc;
}
.buyer_info .col {
    padding: 10px;
    border-left: 2px solid rgba(217, 217, 217, 1);
    border-bottom: 2px solid rgba(217, 217, 217, 1);
    padding: 5px;
    text-align: center;
}
.buyer_info .title {
    color: rgba(82, 69, 149, 1);
}
.buyer_info .row:last-child .col {
    border-left: 2px solid rgba(217, 217, 217, 1);
    border-bottom: 0px;
}
.buyer_info .row .col:last-child {
    border-left: 0px;   
}
.buyer_info .row.gray {
    background-color: #dfdfdf;
}
.buyer_info .row.gray .col {
    color: #000 !important;  
    border-color: #b5b5b5;
}
@media(max-width: 700px) {
    .editbtn {font-size: 13px !important;}
}
.table tr th:first-child input, .table tr th:last-child input {display: none !important;}
.table th input {
    max-width: 90%;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    border: 0 none;
    padding: 5px;
}
.dataTables_scrollBody thead {
    display: none !important;
}
.dataTables_scroll {margin-bottom: 0px !important;}
.bg-label-success.send_to_store_status {
    background-color: rgba(230, 227, 248, 1) !important;
    color: rgba(84, 60, 146, 1) !important;
}
.bg-label-success.shipment_status {
    background-color: rgba(230, 227, 248, 1) !important;
    color: rgba(84, 60, 146, 1) !important;
}
.bg-label-success.accepted_status {
    background-color: rgba(254, 235, 183, 1) !important;
    color: rgba(249, 186, 22, 1) !important;
}